<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="/static/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="/static/css/dhcp-viewer.css">
        <script src="/static/js/bootstrap.min.js"></script>
        <script src="/static/js/jquery-1.11.1.min.js"></script>
        <script src="/static/js/dhcp-viewer.js"></script>
    </head>
    <body>
    <div class="container">
        <h3 class="text-center">List of IP Addresses for target virtual machines</h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>MAC Address</th>
                    <th>IP Address</th>
                </tr>
            </thead>
            <tbody>
                {% for lease in leases %}
                    <tr>
                        <td>{{ lease.hardware.mac }}</td>
                        <td><a href="http://{{ lease.ipaddress }}">{{ lease.ipaddress }}</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <nav class="navbar navbar-default navbar-fixed-bottom" role="presentation">
            <div class="row">
                <div class="col-xs-6"><h4 class="text-left"><small>Powered by <abbr title="Python is a programming language that lets you work quickly and integrate systems more effectively">Python</abbr>, <abbr title="Flask is a microframework for Python based on Werkzeug, Jinja 2 and good intentions">Flask</abbr>, <abbr title="Gunicorn 'Green Unicorn' is a Python WSGI HTTP Server for UNIX">Gunicorn</abbr> and <abbr title="Bootstrap is the most popular HTML, CSS, and JS framework for developing responsive, mobile first projects on the web">Bootstrap</abbr></small></h4></div>
                <div class="col-xs-6"><h4 class="text-right"><small>Hacking this app is not part of the class... :(</small></h4></div>
            </div>
        </nav>
    </div>
    </body>
</html>
